body{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.wrapper
{
     height: 100vh;
     width: 100vw;
     background-color: rgb(53,53,53);
     display: flex;
     justify-content: center;
     align-items: center;
}

.chatbox {
     height: 4rem;
     width: 8rem;
     border-radius: 36px;
     border: 4px solid #949494;
     
}
